In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#It will print number between 1 and 5
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
#it will print numbers between 1 and 10 with the difference of 2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
string= "Areeba"
for i in string:
    print(i)

A
r
e
e
b
a

In [9]:
#While Loop
#While loop continues untill the condition is true
count= 0
while count<5:
    print("Hello world")
    count= count+1

Hello world
Hello world
Hello world
Hello world
Hello world

In [10]:
for i in range(10):
    if(i==5):
        break
    print(i)

0
1
2
3
4

In [11]:
#Continue
for i in range(10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

In [12]:
#Nested Loop
for i in range(4):
    for j in range(3):
        print("Heloowww")

Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww
Heloowww

In [16]:
#Nested Loop
num= int(input("Enter a number"))
for i in range(4):
    for i in range(2):
        if(num%2==0):
            print("I am even number")
        else:
            print("I am odd number and terminating the loop")
            break

I am odd number and terminating the loop
I am odd number and terminating the loop
I am odd number and terminating the loop
I am odd number and terminating the loop

In [ ]:
##Calculate the sum of First ten natural number
n= 10
sum= 0
count= 1
while count<=10:
    sum= sum+count
    count= count+1
print("The sum of first ten natural number is:" sum)

The sum of first ten natural number is: 55

In [4]:
#Print first ten natural number
n=0
for n in range(10):
    print(n)
    n= n+1

0
1
2
3
4
5
6
7
8
9

In [5]:
#print Sum of 10 natural number
n=0
sum=0
for n in range(10):
    sum=sum+n
    n=n+1
print("Sum of first 10 natural number is:", sum)

Sum of first 10 natural number is: 45

In [1]:
#Print prime numbers between 1 and 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97